<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true"
    throwConfigExceptions="true"
    internalLogLevel="info"
    internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="database" xsi:type="Database" connectionString="" >
      <commandText>
        INSERT INTO "Log" ("Application", "Level", "Message", "Exception", "Logged", "ClientId", "UserId", "StatusCode")
        VALUES ( @Application, @Level, @Message, @exception, @Logged, @ClientId, @UserId, @StatusCode);

      </commandText>

      <parameter name="@application" layout="EIMS-ValidationAPI" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${event-properties:item=exception}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@ClientId" layout="${event-properties:item=ClientId}" />
      <parameter name="@UserId" layout="${event-properties:item=UserId}" />
      <parameter name="@StatusCode" layout="${event-properties:item=StatusCode}" />
      
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
    <logger name="*"  minlevel="Info" maxlevel="Error" final="true" writeTo="database" />
  </rules>
</nlog>